.summary img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.85;
  position: relative;
}

.summary h1 {
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  color: white;
  padding-top: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

@media (max-width: 768px) {
  .summary h1 {
    padding-top: 8rem;
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .summary h1 {
    font-size: 5rem;
  }
}
