.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: var(--green);
  border: 1px solid var(--green);
  border-radius: 6px;
  color: var(--dark-green);
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  background-color: var(--opal);
  border-color: var(--opal);
}
